.electoral-college-root {
  font-family: Helvetica;
}

.candidatesWrapper {
  display: flex;
  justify-content: space-around;
  text-align: center;

  &.sticky {
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    h2 {
      font-size: 1.35em;
      margin-block: 0.5em;
    }

    .candidate {
      height: 100%;
      margin: 0;
    }

    img {
      display: none;
    }

    .electoralVotes {
      font-size: 25px;
      height: 30px;
    }

    .electoralVotesLabel {
      margin-block: 0.5em;
    }
  }
}

.candidate {
  margin: 10px;

  img {
    height: 100px;
  }
}

.candidate-gop,
.gop-votes {
  background-color: rgba(255, 0, 0, 0.75);
}

.candidate-dem,
.dem-votes {
  background-color: rgba(0, 70, 255, 0.75);
}

.candidate-lib,
.lib-votes {
  background-color: rgba(255, 215, 0, 0.75);
}

.candidate-grn,
.grn-votes {
  background-color: rgba(0, 200, 0, 0.75);
}

.candidate-ind,
.ind-votes {
  background-color: #d3d3d3;
}

.electoralVotesWrapper {
  font-size: 35px;
  margin-top: 5px;
}

.electoralVotesLabel {
  font-size: 16px;
}

.electoralVotes {
  background-color: #ffffff;
  border: 1px solid #000000;
  display: flex;
  height: 40px;
  justify-content: space-around;
}

.electoralVotes#gop-wta,
.electoralVotes#gop-prop {
  color: rgba(255, 0, 0, 0.75);
}
.electoralVotes#dem-wta,
.electoralVotes#dem-prop {
  color: rgba(0, 70, 255, 0.75);
}
.electoralVotes#lib-wta,
.electoralVotes#lib-prop {
  color: rgba(255, 215, 0, 0.75);
}
.electoralVotes#grn-wta,
.electoralVotes#grn-prop {
  color: rgba(0, 200, 0, 0.75);
}
.electoralVotes#ind-wta,
.electoralVotes#ind-prop {
  color: #d3d3d3;
}

.votes-winner-line {
  border-top: 15px solid #000000;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  height: 0px;
  width: 0px;
  margin: 0 auto 1px;
}

.votes-parties {
  border: 1px solid #777777;
  height: 20px;
}

.votes-parties > span {
  display: inline-block;
  height: inherit;
}

.statesWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;

  button {
    cursor: pointer;
  }
}

.state-control {
  flex: 0;
  margin-top: 10px;

  .state {
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 3px;
    cursor: pointer;
    height: 30px;
    margin: 0 auto;
    width: 100px;
  }

  &.small {
    .state {
      width: 70px;
    }

    .evs {
      font-size: 20px;
    }

    .stateName {
      font-size: 0.75em;
      height: 25px;
    }

    .pvInput {
      width: 85%;
    }
  }

  &.medium {
    .pvInput {
      width: 90%;
    }
  }
}

.stateWrapper {
  margin: 5px;
  text-align: center;
}

.wta-winner,
.prop-winner {
  background-color: none;
  border: 1px solid #000000;
  border-radius: 3px;
}

.state.gop,
.wta-winner.gop,
.prop-winner.gop {
  background-color: rgba(255, 0, 0, 0.75);
  border: 1px solid rgba(255, 0, 0, 0.75);
}
.state.dem,
.wta-winner.dem,
.prop-winner.dem {
  background-color: rgba(0, 70, 255, 0.75);
  border: 1px solid rgba(0, 70, 255, 0.75);
}
.state.lib,
.wta-winner.lib,
.prop-winner.lib {
  background-color: rgba(255, 215, 0, 0.75);
  border: 1px solid rgba(255, 215, 0, 0.75);
}
.state.grn,
.wta-winner.grn,
.wta-winner.grn {
  background-color: rgba(0, 200, 0, 0.75);
  border: 1px solid rgba(0, 200, 0, 0.75);
}
.state.ind,
.wta-winner.ind,
.prop-winner.ind {
  background-color: #d3d3d3;
  border: 1px solid #d3d3d3;
}

.evs {
  font-size: 22px;
  position: relative;
  top: 10%;
}

.pvInputWrapper {
  margin-bottom: 3px;
}

.pvInput {
  border-radius: 3px;
  border: 2px solid;

  &[data-party='gop'] {
    border-color: rgba(255, 0, 0, 0.75);
  }

  &[data-party='dem'] {
    border-color: rgba(0, 70, 255, 0.75);
  }

  &[data-party='lib'] {
    border-color: rgba(255, 215, 0, 0.75);
  }

  &[data-party='grn'] {
    border-color: rgba(0, 200, 0, 0.75);
  }

  &[data-party='ind'] {
    border-color: #d3d3d3;
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}

#buttons {
  .show {
    display: inline-block;
  }
}

.buttonWrapper {
  display: inline-block;
  margin: 10px 20px 0 0;

  button {
    border: 0;
    cursor: pointer;
    display: block;
    font-family: Helvetica;
    font-size: 30px;
  }
}

#saveButton {
  background-color: #00ff00;
}

#clearButton {
  background-color: #ff0000;
}

#map-wrapper {
  position: relative;

  button {
    margin: 20px;
    padding: 20px;
  }
}

#us-map {
  display: block;

  &.hide {
    display: none;
  }

  &.small {
    height: 50%;
    width: 50%;
  }

  &.medium {
    height: 75%;
    width: 75%;
  }

  &.large {
    height: 100%;
    width: 100%;
  }
}

path:hover,
circle:hover {
  stroke: #000 !important;
  stroke-width: 2px;
  stroke-linejoin: round;
  fill: #fff;
  cursor: pointer;
}
#path67 {
  fill: none !important;
  stroke: #a9a9a9 !important;
  cursor: default;
}
#info-box {
  background-color: #ffffff;
  border: 5px solid rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  display: none;
  font-family: arial;
  padding: 5px 20px;
  position: fixed;
  right: 0;
  top: 0;
  width: 20%;
  z-index: 1000;

  &.show {
    display: block;
  }

  &.gop {
    border-color: rgba(255, 0, 0, 0.75);
  }

  &.dem {
    border-color: rgba(0, 70, 255, 0.75);
  }

  &.lib {
    border-color: rgba(255, 215, 0, 0.75);
  }

  &.grn {
    border-color: rgba(0, 200, 0, 0.75);
  }

  &.ind {
    border-color: #d3d3d3;
  }
}
svg path,
circle,
path:hover,
circle:hover {
  fill: #fff;
}
svg .gop,
path.gop:hover,
circle.gop:hover {
  fill: rgba(255, 0, 0, 0.75);
}
svg .dem,
path.dem:hover,
circle.dem:hover {
  fill: rgba(0, 70, 255, 0.75);
}
svg .lib,
path.lib:hover,
circle.lib:hover {
  fill: rgba(255, 215, 0, 0.75);
}
svg .grn,
path.grn:hover,
circle.grn:hover {
  fill: rgba(0, 200, 0, 0.75);
}
svg .ind,
path.ind:hover,
circle.ind:hover {
  fill: #d3d3d3;
}
